<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="" IE-edge>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/home.css">
    <link rel="stylesheet " href="https://fonts.googleapis.com/css?family=Lobster ">
    <title>EDU BOOK LIBRARY</title>
</head>

<body>
    <div class="container ">
        <div class="bg ">
            <div class="welcome-container ">
                <div class="welcome-text ">    
                <p>EDU BOOK LIBRARY</p>
                </div>
                <div class="login-container ">
                    <div class="box-container ">
                        <div class="box1 ">
                            <button>EDU LF</button>
                        </div>
                        <div class="box2 ">
                            <button>STUDENT</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>