<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDU LF</title>
    <link rel= "stylesheet" href="../styles/lf.css" >
</head>
<body>
    

<div>
    <h1> ADD A BOOK</h1>
    <form>
        Book ID: <input type="text" name="text" placeholder="Book ID"> 
        Title: <input type="text" name="text" placeholder="Title"> 
        Author: <input type="text" name="text" placeholder="Author"> 
        Category: 
        <select name="Category">
            <option value="Choose Category">Choose Category</option>
            <option value="Fiction">Fiction</option>
            <option value="Science">Science</option>
            <option value="Religion">Religion</option>
            <option value="Math">Math</option>
            <option value="Tech">Tech</option>
            <option value="Arts">Arts</option>
            <option value="Cuisine">Cuisine</option>

        </select> 
        <br>
        <button type="submit" name="Add Book"> Add Book</button>
    </form>
</div>
</body>
</html>